
<div class="container-fluid" style="background-color:#636e8a;">
<div class="row m-1 align-content">
    <div class="col-sm-10 d-block mx-auto" style="align-content: center;justify-content: center;">
      <div class="row mt-4 mx-2 mb-4" style="font-weight: 640;color: aliceblue;font-size: 1.2em;">About us:<span style="color:aliceblue;font-weight: 400;font-size:initial;text-align: justify;">GamerStop was founded in 2020 and has been providing free online games since then. Our goal is to provide the best possible gaming experience in the browser.For more information about GamerStop, you can visit our corporate site.</span></div>
      <div class="row"></div>
      <div class="row mx-auto">
        <div class="c1 col-sm-10 col-md-3 col-lg-3">
            <p></p>
            <p></p>
            <p></p>
          <p><a href=""><i class="fas fa-phone-alt"></i> Contact us</a></p>
          <p> <a href=""><i class="fas fa-users"></i> Staff</a></p>
            <p><a href=""><i class="fas fa-user-tie"></i> For Developers</a></p>
        </div>
        <div class="c2 col-sm-10 col-md-3 col-lg-3" style="align-content: center;">
            <p></p>
            <p></p>
            <p></p>
            <p><a href="">Privacy Policy</a></p>
            <p><a href="">Cookies Policy</a></p>
            <p><a href="">Terms of Use</a></p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-10">
            <h6 class="mt-2"style="font-weight: 630;color: aliceblue;font-size: 1.1em;"><i class="fas fa-copyright"></i> Copyright</h6>
            <p style="text-align:justify;font-size: 1.05em;">© Copyright GamerStop, Inc. 2008-2020. All rights reserved.Reproduction in whole or in part in any form or medium without acknowledgment of GamerStop is prohibited. Use of this site is governed by all applicable laws.</p>
        </div>
        <div class="c3 col-lg-2  col-md-2 col-sm-10" >
            <div class="row p-1"></div>
            <img src="../assets/logo4.PNG" class="mb-3 ml-5" width="120px"> 
            <div class="row"></div>
        </div>
      </div>
      <div class="row mb-3 mt-1 text-center pt-1 pb-0" style="background-color:#4D556A;color:aliceblue;font-size: 1.1em;">
        <div class="col">Follow Us On
        <span class="mr-5 ms-auto" style="float: right;"><i class="fab fa-facebook-f p-2"></i><i class="fab fa-twitter p-2"></i><i class="fab fa-youtube p-2"></i><i class="fab fa-twitch p-2"></i><i class="fas fa-rss p-2"></i></span>
    </div>
    </div>
    </div>
  </div>
</div>