<div class="container mt-sm-1 mt-lg-3" style="justify-content: space-around;"> 
    <div class="row ">
        <div class="col-0 col-lg-1"></div>
    <h1 class="col mx-lg-5 mx-2 mt-3" style="color: #b1b3b8;">Best of Gamerstop Games for PC and Browser in 2021! </h1>
    </div>

   <div class="row row-cols-md-3  row-cols-sm-2 row-cols-1 row-cols-xs-1 mx-lg-5 px-lg-4 m-0 p-1">
      <!-- <div class="col text-white" *ngFor="let game of gameslist">{{game.title}}</div>-->
      <div class="col gy-4 gy-lg-5 gx-lg-5 gx-0" *ngFor="let game of gameslist | paginate :{ itemsPerPage:12 , currentPage:p } ; let in=index" >
 <!--[routerLink]="['/game-details/'+in]" -->
  
       <div class="card shadow"  style="background-color:#2a3347;width: 100% !important;position:relative;" >
        <div class="fakeimg">
           <img width="100%" height="100%" src="{{game.thumbnail}}" alt="">
       </div>
       <a class="sample stretched-link" [routerLink]="['/game-details2/'+game.id]" style="text-decoration: none;"></a>
    
           <div class="card-body">
            <div class="row px-2">
                <div class="px-1 col-10" style="color:#b1b3b8;font-size:1.02em;font-weight: 600;overflow: hidden;
                text-overflow: ellipsis;white-space: nowrap;">{{game.title}}</div>
                <span class="col-2 badge bg-primary " style="float:right">{{game.worth}}</span>
            </div>
               <div class="card-text py-2 px-1 text-muted" style="overflow: hidden;
               text-overflow: ellipsis;    white-space: nowrap;">{{game.description}}</div>
              <!-- <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group py-2 px-2">
                   <span class="badge bg-secondary">{{game.genre}}</span>
                  "<button type="button" class="btn btn-sm btn-secondary">{{game.genre}}</button>"==========================="
                </div>
                <div>
                
                <span *ngIf="game.platform== 'PC (Windows)'" style="padding-left: 5px;color: #b1b3b8;"><i class="fab fa-windows"></i></span>
                <span *ngIf="game.platform === 'Web Browser'" style="padding-left: 5px;color: #b1b3b8;"><i class="fas fa-window-maximize"></i></span>
               </div>
              </div>  -->
              <div class="d-flex justify-content-between align-items-center" *ngIf="App.check">
                
                
                <div class="p-0" style="position: relative;">
                    <a class="blink btn stretched-link addtocart px-2 py-0" aria-expanded="false"
              style="color:#2a3347;background-color:#c5c9d5;font-weight: 500;" (click)="addtocart(game)"><i class="fas fa-plus-square"></i> Add to cart</a>
                </div>


                <div class="py-2 px-1 pt-3" style="float: right!important;">
                    <span *ngIf="game.platforms.split(',').includes('PC')" style="padding-left: 5px;color: #b1b3b8;"><i class="fas fa-desktop"></i></span>
                    <span *ngIf="game.platforms.split(',').includes(' Steam')"  style="padding-left: 5px;color: #b1b3b8;"><i class="fab fa-steam-symbol"></i></span>
                    <span *ngIf="game.platforms.split(',').includes(' Android')" style="padding-left: 5px;color: #b1b3b8;"><i class="fab fa-android"></i></span>
                    <span *ngIf="game.platforms.split(',').includes(' Itch.io')"  style="padding-left: 5px;color: #b1b3b8;"><i class="fab fa-itch-io"></i></span>
                    <span *ngIf="game.platforms.split(',').includes(' Xbox One')" style="padding-left: 5px;color: #b1b3b8;"><i class="fab fa-xbox"></i></span>
                    <span *ngIf="game.platforms.split(',').includes(' Playstation 4')"  style="padding-left: 5px;color: #b1b3b8;"><i class="fab fa-playstation"></i></span>
                    <span *ngIf="game.platforms.split(',')includes(' Xbox 360')" style="padding-left: 5px;color: #b1b3b8;"><i class="fab fa-xbox"></i></span>
                    <span *ngIf="game.platforms.split(',').includes(' Battle.net')"  style="padding-left: 5px;color: #b1b3b8;"><i class="fab fa-battle-net"></i></span>
   
                   </div> 
          </div>
            </div>
       </div>
   <!--</a>-->
    </div>
   </div>

</div>

<div class="text-center my-4 mb-5 px-0 mx-0" style="color:white;">
<pagination-controls class="m-0 p-0" (pageChange)="p=$event" ></pagination-controls>
</div>
