<div >
<div class="first d-flex d-sm-block mx-sm-1 mx-lg-auto px-sm-0 px-lg-5 m-3" >
<div class="container mt-sm-3 mt-lg-5 mx-sm-0 mx-lg-5 pb-4" style="width:100%;justify-content:space-between;margin-top: 10px;background-color:#404a6f;">
   
    <div class="col ">
    <div class="row row-cols-1 row-cols-md-2 mx-auto" >
        <div class="col mt-lg-3 mt-sm-2 mb-2">
            <img src="{{gameObj.thumbnail}}" width="98%" alt="">
        </div>
        <div class="second col mt-lg-3 mt-sm-2 my-2 px-lg-5 px-sm-0 text-center" width="98%" style="background-color:#6f7a98;">
            <h3 class="d-block mx-auto text-white">{{gameObj.title}}</h3>
            <p class="d-block mx-auto" style="color:#dae0e3;">{{gameObj.short_description}}</p>
            <button class="btn btn-info d-block mx-auto text-white mb-2" style="border-radius: 30px;font-weight:600;">
                <a class="text-white"href="{{gameObj.game_url}}" style="text-decoration: none;">playnow</a>
                </button>
        </div>
    </div>
    <div class="row my-2 mx-2 mx-sm-1 p-lg-3 p-sm-1" >
       <h3 class="text-white" >About {{gameObj.title}}</h3>
       <p style="color:#dae0e3;" >{{gameObj.description}}</p>
       
      <!-- <a class="collapsed" data-toggle="collapse" href="#collapseSummary" aria-expanded="false" aria-controls="collapseSummary">+read More</a>    class="collapse" id="collapseSummary"-->
       <h5 class="text-white">Release date</h5>
       <p style="color:#dae0e3;">{{gameObj.release_date}}</p>
       <h5 class="text-white">Developer</h5>
       <p style="color:#dae0e3;">{{gameObj.developer}}</p>
       <h5 class="text-white">Publisher</h5>
       <p style="color:#dae0e3;">{{gameObj.publisher}}</p>
       <h5 class="text-white">Genre</h5>
       <p style="color:#dae0e3;">{{gameObj.genre}}</p>
       <h5 class="text-white">Platform</h5>
       <div>
        <span *ngIf="gameObj.platform== 'Windows'" style="padding-left: 5px;color: #b1b3b8;"><i class="fab fa-windows"></i></span>
        <span *ngIf="gameObj.platform === 'Web Browser'" style="padding-left: 5px;color: #b1b3b8;"><i class="fas fa-window-maximize"></i></span>
       <span class="mb-3 pb-3"style="color:#dae0e3;">  {{gameObj.platform}}</span>
       </div>
       <h5 *ngIf="gameObj.screenshots.length" class="text-white mt-2">Screenshots</h5>
       <div  class="row row-cols-1 row-cols-sm-1 row-cols-lg-3 ">
           <div class="col flex-wrap mt-2 mt-sm-1 p-1" *ngFor="let obj of gameObj.screenshots">
               <img src="{{obj['image']}}" alt="" width="100%">
           </div>
       </div>
       <h5 class="text-white mt-4">Minimum System Requirements:</h5>
       <div class="col">
             <div class="row mt-2">
                 <div class="col-4 col-lg-2 text-white" style="font-size: 1.05em;"> System :</div>
                 <div class="col-8 col-lg-10 p-0 m-0" style="color:#dae0e3;font-size:1.05em ;">{{gameObj.minimum_system_requirements['os']}}</div>
             </div>
             <div class="row mt-2">
                <div class="col-4 col-lg-2 text-white" style="font-size: 1.05em;"> Processor :</div>
                <div class="col-8 col-lg-10 p-0 m-0" style="color:#dae0e3;font-size:1.05em ;">{{gameObj.minimum_system_requirements['processor']}}</div>
            </div>
            <div class="row mt-2">
                <span class="col-4 col-lg-2 text-white" style="font-size: 1.05em;"> Memory :  </span>
                <span class="col-8 col-lg-10 p-0 m-0" style="color:#dae0e3;font-size:1.05em ;">{{gameObj.minimum_system_requirements['memory']}}</span>
            </div>
            <div class="row mt-2">
                <span class="col-4 col-lg-2 text-white" style="font-size: 1.05em;"> Storage : </span>
                <span class="col-8 col-lg-10 p-0 m-0" style="color:#dae0e3;font-size:1.05em ;">{{gameObj.minimum_system_requirements['storage']}}</span>
            </div>
            <div class="row mt-2">
                <span class="col-4 col-lg-2 text-white" style="font-size: 1.1em;"> Graphics : </span>
                <span class="col-8 p-0 m-0" style="color:#dae0e3;font-size:1.0.5em ;">{{gameObj.minimum_system_requirements['graphics']}}</span>
            </div>
       </div>
   </div>
 


</div>
</div>
</div>
</div>