.second{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.first{
    width:80%;
    align-content: center;
}

.form-check{
    font-size: 1.5em;
}

#summary p.collapse:not(.show) {
    height: 175px !important;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
p{
    font-size: 1.18em;
}
h6{
    font-size: 1.18em;
}

@media screen and (min-width: 150px) and (max-width: 576px)
{
    .first{
        width:100%;
        margin: auto;
        display: block;
        padding: 0px;
        justify-content: center;
        justify-content: center;
        /*background-color: aquamarine;*/
    }
    .second{
        padding:3px;
        padding-bottom: 5px;
    }
    .text-white
    {
        font-size: 1.2rem;
        font-weight: 500;
    }
    p{
     font-size: 1.1em;
    }
}